@media all and (max-width: 500px){
  .ant-layout-sider {
    display: none;
  }
  .trigger {
    display: none;
  }
}
.all_table {
  width: 100%;
  overflow: scroll;
}
.ant-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-webkit-scrollbar{width:0px;}
.ant-layout-header {
  height: 50px!important;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 50px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: url("../assets/logo.png");
  background-repeat: no-repeat;
  margin: 8px 40px;
}
#components-layout-demo-custom-trigger .blog_logo {
  height: 32px;
  background-image: url("../assets/blog-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 8px 20px;
}
